.header {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정렬 */
    height: 100px;
}

.logoImg {
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 48px;
}


  