.loadMore {
    width: 1560px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid #282828;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .loadMore:hover {
    background-color: #282828;
    color: white;
  }  